.App {
  text-align: center;
  
}
body{
  background-color: rgb(216, 224, 156);
}


.header{
  display:flex;
  flex-direction: row;
  background-color: rgb(148, 203, 241);
  color:bisque;
  font-weight: 10px;
  font-size:medium;
}

img{
  padding-left: 20px;
}

h4{
  padding-left: 40px; 
}

.footer{
  height:30px;
  padding-bottom: 10px;
}


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
input{
  min-width: 200px;
}

textarea{
  min-height:100px;
  min-width: 200px;
}

button{
  background-color: rgb(120, 159, 233);
  color: beige;
  width: 40px;
  border-radius: 50px;
}